/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Core Styles */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    transition: all .3s linear;
}

$black: #000;
$white: #fff;
$grey: #939393;
$main-color: #263238;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
$bg-color: #F5F5F5;

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
     max-width: 1140px;
     margin: 0 auto;
} 

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}

@mixin grid($value) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap: 1.5rem;
}

@mixin title($fontSize1) {
    font-size: $fontSize1;
    color: $black;
    font-weight: 600;
}

@mixin description($val) {
    font-size: $val;
    color: #8F95A5;
    font-weight: 400;
}

@mixin btn($padding1, $padding2, $fontSize2, $borderRadius) {
    display: inline-block;
    padding: $padding1 $padding2;
    color: $white;
    font-size: $fontSize2;
    background-color: $main-color;
    border-radius: $borderRadius;
    font-weight: 400;
}

@mixin gridItem() {
    background: $bg-color;
    border-radius: 1rem;
    padding: 2rem;
}

/*
section {
    padding: 2.5rem 8.5%;
}
*/

/* Header section styles */
.header {
    position: fixed;
    left: 0; right: 0; top: 0;
    z-index: 1000;
    padding: 2rem;
    box-shadow: $box-shadow;
    background-color: $white;

    .container {
        @include flex();

        .logo {
            font-size: 3.6rem;
            color: $black;
            font-weight: 500;
            
            span {
                color: $grey;
            }
        }

        .navbar {

            a {
                font-size: 2rem;
                margin-left: 3rem;
                color: $main-color;
                text-transform: capitalize;
                font-weight: 500;

                &:hover {
                    color: $black;
                    text-decoration: underline;
                }
            }
        }

        .lets-talk {

            .talk-btn {
                display: inline-block;
                padding: 1rem 4rem;
                border: .2rem solid $main-color;
                border-radius: .5rem;
                font-size: 2.4rem;
                font-weight: 400;
                text-transform: capitalize;
                cursor: pointer;

                &:hover {
                    background-color: $main-color;
                    color: $white;
                }
            }
        }

        #menu-btn {
            font-size: 2.5rem;
            color: $main-color;
            display: none;
        }
    }
}

/* Home section styles */
.home {
    margin-top: 7rem;

    .container {
        @include flex();

        .content {
            flex: 1;

            .info {
                @include flex();
                gap: 0;
                margin: 2rem 0;

                .title {
                    @include title(6.2rem);
                    line-height: 8rem;
                }

                img {
                    width: 12rem;
                    height: 12rem;
                }
            }

            .description {
                @include description(2.4rem);
                line-height: 3.6rem;
                padding: 1rem 0;
            }

            .btn {
                @include btn(2rem, 7rem, 2.8rem, 1.4rem);
                margin-top: 3rem;

                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }
        }

        .image {
            flex: 1;

            img {
                width: 100%;
            }
        }
    }
}

/* Skills section styles */
.skills {
    margin: 10rem 0;

    .container {

        .grid-container {
            // @include grid(34rem);
            display: grid;
            grid-template-columns: repeat(1fr, 3);
            gap: 1.5rem;
            
            .item-1 {
                @include gridItem();
                grid-row: 1 / span 2;

                .image {
                    width: 30rem;
                    height: 30rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .content {
                    
                    .title {
                        @include title(3rem);
                        margin-left: 1rem;
                    }

                    .description {
                        @include description(1.5rem);
                        padding: 1rem;
                    }

                    .btn {
                        @include btn(1rem, 5rem, 1.5rem, .5rem);
                        margin-top: 1rem;
        
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }

            .item-2 {
                @include gridItem();

                .image {
                    width: 30rem;
                    height: 30rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .content {
                    
                    .title {
                        @include title(3rem);
                        margin-left: 1rem;
                    }

                    .description {
                        @include description(1.5rem);
                        padding: 1rem;
                    }

                    .btn {
                        @include btn(1rem, 5rem, 1.5rem, .5rem);
                        margin-top: 1rem;
        
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }

            .item-3 {
                @include gridItem();

                .image {
                    width: 30rem;
                    height: 30rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .content {
                    
                    .title {
                        @include title(3rem);
                        margin-left: 1rem;
                    }

                    .description {
                        @include description(1.5rem);
                        padding: 1rem;
                    }

                    .btn {
                        @include btn(1rem, 5rem, 1.5rem, .5rem);
                        margin-top: 1rem;
        
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }

            .item-4 {
                @include gridItem();
                grid-column: 2 / span 2;
                @include flex();
                

                .image {
                    flex: 1;
                    width: 30rem;
                    height: 30rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .content {
                    flex: 1;
                    
                    .title {
                        @include title(3rem);
                        margin-left: 1rem;
                    }

                    .description {
                        @include description(1.5rem);
                        padding: 1rem;
                    }

                    .btn {
                        @include btn(1rem, 5rem, 1.5rem, .5rem);
                        margin-top: 1rem;
        
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.about-us {
    margin: 10rem 0;

    .container {
        @include flex();
        flex-wrap: wrap;

        .content {
            flex: 1.15;

            .title {
                @include title(4.8rem);
                text-transform: capitalize;
                margin: 1rem 0;
            }

            .description {
                @include description(1.85rem);
                line-height: 3rem;
                margin-top: 1.5rem;
            }

            .numbers {
                @include flex();
                margin-top: 2rem;

                .number {
                    text-align: center;

                    .title {
                        @include title(4.5rem);
                        margin: 0;
                    }

                    .description {
                        @include description(1.85rem);
                        margin-top: 0;
                    }
                }
            }
        }

        .image {
            flex: 1;
            height: 46rem;
            width: 46rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}














/* Media queries */
@media screen and (max-width: 991px) {

    html {
        font-size: 55%;
    }

    .header {

        .container {
    
            .logo {
                font-size: 2.5rem;
            }
    
            .navbar {
    
                a {
                    font-size: 1.6rem;
                    margin-left: 2rem;
                }
            }
    
            .lets-talk {
    
                .talk-btn {
                    padding: .75rem 3.4rem;
                    font-size: 2rem;
                }
            }    
        }
    }

    .home {

        .container {

            .content {
                flex: 1;

                .info {

                    .title {
                        @include title(4.8rem);
                        line-height: 6.4rem;
                    }

                    img {
                        width: 10rem;
                        height: 10rem;
                    }
                }

                .description {
                    @include description(2rem);
                    line-height: 3rem;
                    padding: .75rem 0;
                }

                .btn {
                    @include btn(.75rem, 4rem, 2.3rem, .5rem);
                    margin-top: 2.5rem;
                }
            }

            .image {
                flex: 1;
            }
        }
    }

    .skills {

        .container {

            .grid-container {
                @include grid(28rem);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
    .header {

        .container {

            .navbar {
                position: absolute;
                top: 99%; left: 0; right: 0;
                clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                background-color: $main-color;
                
                &.active {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                }

                a {
                    display: block;
                    padding: 1.5rem 3rem;
                    color: $white;

                    &:hover {
                        color: $grey;
                        text-decoration: underline;
                    }
                }
            }

            .lets-talk {
                display: none;
            }

            #menu-btn {
                display: inline-block;

                &.fa-times {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .home {

        .container {

            .content {
                flex: 1;

                .info {

                    .title {
                        @include title(3.6rem);
                        line-height: 4.5rem;
                    }

                    img {
                        width: 7rem;
                        height: 7rem;
                    }
                }

                .description {
                    @include description(1.6rem);
                    line-height: 2.4rem;
                    padding: .5rem 0;
                }

                .btn {
                    @include btn(.6rem, 3.5rem, 1.8rem, .5rem);
                    margin-top: 2rem;
                }
            }

            .image {
                flex: 1;
            }
        }
    }
}

@media screen and (max-width: 576px) {

    html {
        font-size: 50%;
    }

    .home {

        .container {
            flex-direction: column-reverse;
            gap: 0;

            .content {
                text-align: center;

                .info {

                    .title {
                        @include title(3.4rem);
                        line-height: 4.4rem;
                    }

                    img {
                        display: none;
                    }
                }

                .description {
                    @include description(1.6rem);
                    line-height: 2.4rem;
                    padding: .25rem 0;
                }

                .btn {
                    @include btn(1.2rem, 5rem, 1.8rem, .5rem);
                    margin-top: 2rem;
                }
            }
        }
    }

    .skills {

        .container {
    
            .grid-container {
                
                .item-1 {
                    @include gridItem();
                    grid-row: auto / auto;
                }
    
                .item-2 {
                    @include gridItem();
                }
    
                .item-3 {
                    @include gridItem();
                }
    
                .item-4 {
                    @include gridItem();
                    grid-column: auto / auto;
                    flex-direction: column-reverse;
                }
            }
        }
    }

    .about-us {

        .container {
            flex-direction: column-reverse;
            gap: 0;
        }
    }
}
